<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.40.2" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.40.2" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.40.2" targetFramework="net461" />
  <package id="Google.Apis.Sheets.v4" version="1.40.2.1636" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="74.0.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="75.0.3770.90" targetFramework="net461" />
</packages>